.about{
    padding: 60px;
    padding-bottom: 0;
    background-color: #FBE5E5;
}

hr{
    border-top-color:#bbb;
    opacity:0.2;
    margin-top: 26px;
    margin-right: 150px;
    margin-left: 150px;
   
}
.contentsnig{
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
}
