.nav ul{
    padding-left: 300px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 300px;

}
.content{
    background-color: hsl(204, 19%, 26%);
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-link{
    color: #F4F1F0;
    font-size: large;
    font: weight 200px;;

}